* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

body {
    font-family: "TT", sans-serif;
    font-size: 24px;
    color: rgb(27, 28, 33);
    font-weight: 500;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

// burget btn
.burger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 50%;
    transition: all .2s ease-in-out;

    &:hover {
        border: .5px solid black;
        background: #e93067;
    }

    &:hover .burger__line {
        background: #3ede9e;
    }
}

.burger__wrapper {
    display: flex;
    flex-direction: column;
}

.burger__line {
    border-radius: 1px;
    width: 100%;
    margin-bottom: 3px;
    height: 2px;
    background: #fff;
    transition: all .2s ease-in-out;
}

.burger__line-top {
    width: 18px;
}

.burger__line-middle {
    width: 10px;
}

.burger__line-bottom {
    width: 14px;
}