@use "../mixins" as *;

.content {
    background: rgb(248, 248, 248);
    padding-top: 24px;
    padding-bottom: 32px;

    @include respond-to(768) {
        padding-top: 18px;
    }
}

.content__title {
    // Проверить шрифты подключение
    margin-bottom: 24px;
    position: relative;
    margin-left: -15px;
    padding-left: 15px;
    font-family: "TT", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: rgb(27, 28, 33);

    transition: all 0.15s ease-in;

    &::before {
        content: "";
        position: absolute;
        border-radius: 0 4px 4px 0;
        top: 0px;
        left: 0;
        background: rgb(65, 246, 215);
        height: 100%;
        width: 4px;
    }

    @include respond-to(768) {
        letter-spacing: 0.3px;
        margin-bottom: 29px;
        letter-spacing: -1px;
    }

}

.content__nav {
    margin-right: -12px;
    margin-bottom: 24px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 24px;
        pointer-events: none;
        z-index: 1;
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        box-shadow: -24px 0px 18px -7px rgba(34, 60, 80, 0.08);
    }

    @include respond-to(768) {
        margin-bottom: 34px;
    }
}

.content__nav-list {
    display: flex;
    align-items: center;
    position: relative;

    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

.content__nav-list-item {
    max-width: 230px;
    margin-right: 20px;
    line-height: 24px;
    font-size: 16px;
    color: rgb(126, 126, 130);

    text-overflow: ellipsis;
    white-space: nowrap;

    @include respond-to(768) {
        margin-right: 25px;
        letter-spacing: 0.1px;
    }
}

.content__nav-list-item__active {
    font-size: 16px;
    color: rgb(126, 126, 130);
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
    padding: 8px 9px 8px 12px;
    margin-right: 20px;
    font-size: 16px;
    display: flex;

    @include respond-to(768) {
        letter-spacing: 0.2px;
        min-width: 248px;
        margin-right: 20px;
        padding-left: 19px;
    }
}

.content__wrapper {
    display: flex;

    @include respond-to(768) {
        gap: 39px;
    }
}

.content__wrapper-text {
    @include respond-to(768) {
        max-width: 320px;
    }
}

.content__descr {
    margin-bottom: 16px;
    font-weight: 400;
    max-width: 312px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(27, 28, 33);

    @include respond-to(415) {
        max-width: 310px;
    }

    @include respond-to(601) {
        max-width: 260px;
    }

    @include respond-to(768) {
        line-height: 19px;
        max-width: 320px;
        margin-bottom: 42px;
    }
}

.content__descr__hidden {
    display: none;

    @include respond-to(768) {
        display: inline-block;
        height: 35px;
        overflow: hidden;
        margin-bottom: 4px;
        max-width: 300px;
    }
}

.content__descr-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(27, 28, 33);
    display: inline-flex;
    align-items: center;
    margin-bottom: 16px;
}

.content__descr-more-svg {
    fill: #41F6D7;
    margin-right: 16px;
}

.content__wrapper-img {
    display: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include respond-to(601) {
        display: block;
        width: 360px;
        background-position: center;
        background-repeat: no-repeat;
    }

    @include respond-to(768) {
        display: block;
        width: 360px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.content__img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include respond-to(601) {
        display: none;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}